<h1>Listing licenses</h1>

<%= form_tag({}, {:method => :get}) do %>
  Client: 
  <%= collection_select(:selected_client, :id,  @clients,  :id, :name, {:prompt   => "Select a client"}, { :id => "licenses_clients_select", :onchange => "this.form.submit();" }) %>
  Order:
  <%= select_tag :order, options_for_select([["Application","application_id"],["Computer","computer_id"]], @order), :onchange => "this.form.submit();" %>
<% end %>

<% if @order == "application_id" %>
  <%= render "item", :title => "Computer", :div_obj => "application", :col_obj => "computer" %>
<% elsif @order == "computer_id" %>
  <%= render "item", :title => "Application", :div_obj => "computer", :col_obj => "application" %>
<% end %>

<br />

<%= link_to 'New license', new_license_path %>