<h1>Remove license</h1>

<p>
  <b>Client: </b>
  <%= link_to @license.computer.client.name, @license.computer.client %>
</p>
<p>
  <b>Aplication: </b>
  <%= @license.application.name %>
</p>
<p>
  <b>Computer: </b>
  <%= link_to @license.computer.name, @license.computer.client %>
</p>

<%= form_for(@license, :method => :delete) do |f| %>

  <%= error_messages @license %>

  <div class="field">
    <%= f.label :removal_code %><br />
    <%= f.text_field :removal_code, :size => 8 %>
  </div>
  <div class="field">
    <%= f.label :removal_reason %><br />
    <%= f.text_area :removal_reason, :size => "40x4" %>
  </div>
  <div class="actions">
    <%= f.submit "Remove License" %>
  </div>
<% end %>

<%= link_to 'Show', @license %> |
<%= link_to 'Back', licenses_path %>
