<%= form_for(@user) do |f| %>

  <%= error_messages @user %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <% if current_user.admin? and !current_user.distributor.main? %>
    <%= f.check_box :admin %>
    <%= f.label :admin %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
