<!DOCTYPE html>
<html>
<head>
  <title>Licences</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="page_header"> 

    <div id="page_title">
      <h1>Licences</h1>
    </div>

    <% if user_signed_in? %> 
      <nav id="nav_user">
        <p><span id="currentuser"><%= current_user.name %></span></p>
        <ul>
          <% if current_user.admin? %>
            <li><%= link_to "Users", users_path %></li>
          <% end %>
          <% if current_user.admin? and !current_user.distributor.dist? %>
            <li><%= link_to "Distributors", distributors_path %></li>
          <% end %>
          <% if current_user.admin? and current_user.distributor.main? %>
            <li><%= link_to "Applications", applications_path %></li>
          <% end %>
          <li><%= link_to "My Profile", edit_user_password_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </nav>    
    <% end %>

    <section id="flash">
      <% flash.each do |key, value| %>
        <div class="<%= key %>"><%= value %></div>
      <% end %>
    </section> 

  </header>

  <%= yield %>

  </body>
</html>

