<!DOCTYPE html>
<html>
<head>
  <title>Licences</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="page_header"> 
    <nav id="nav_user">
      <ul>
        <% if user_signed_in? %> 
          <li><span id="currentuser"><%= current_user.email %></span></li>
          &nbsp;
          <% if current_user.admin? %>
            <li><%= link_to "Users", users_path %></li>
          <% end %>
          <li><%= link_to "Distributors", distributors_path %></li>
          <li><%= link_to "My Profile", edit_user_password_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %> 
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>    

    <div id="page_title">
      <h1>Licences</h1>
    </div>
  </header>
  <%= yield %>
</body>
</html>

